

.heading {
  color: #61b6fb;
  height: 100vh;
  margin: auto;
  width: 90%;
  justify-content: center;  
  align-items: center;
  display:block ;  

}
button{
  background-color: lightblue;  
  color: black;  
  font-size: 25px;  
  margin: 3;  
  padding: 4;

}



